
/* @import "pure-release-1.0.1/pure-min.css"; */
@import "roboto/roboto.css";
@import "materialdesignicons/materialdesignicons.css";
@import "material.css";


body {
    margin: 0;
    padding: 0;
}

html {
	font-family: "Roboto", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}