
@import "pure-release-1.0.1/pure-min.css";
@import "roboto/roboto.css";

.material{
	font-family: "Roboto", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 768px;
	
	letter-spacing: 0.05em;
	background: #fff;
}

.material-title{
    
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    
    border-bottom: 1px solid #eee;
    
    
}