@keyframes animatedBackgroundPositionVertical {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}

@keyframes animatedRotateCentered {
    0% { transform: translate(-50%, -50%) rotate(0deg) ; }
    100% { transform: translate(-50%, -50%) rotate(360deg) ; }
}

.color-sequence{
    margin: 4px;
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 50%;
    *{
        position: relative;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        //margin-left: 10%;
    }
    >*{
        width: 50px;
        height: 50px;
        background-color: white;
        background: conic-gradient(#aaa 0%, white 2%, white 98%);
    }
    >*>*{
        width: 42px;
        height: 42px;
        
    }

}
