@font-face {
  font-family: "Material Design Icons";
  src: url("materialdesignicons-webfont.eot?v=5.0.45");
  src: url("materialdesignicons-webfont.eot?#iefix&v=5.0.45") format("embedded-opentype"), url("materialdesignicons-webfont.woff2?v=5.0.45") format("woff2"), url("materialdesignicons-webfont.woff?v=5.0.45") format("woff"), url("materialdesignicons-webfont.ttf?v=5.0.45") format("truetype");
  font-weight: normal;
  font-style: normal;
}
