@import "common.scss";

@mixin gridElement ($numColumns, $gap) {
    & > * {
        width: calc(100% / #{$numColumns} - #{$gap});
        //padding-top: calc((100% / #{$numColumns} - #{$gap}) * 1 + 5rem);
        //height: 0;
    }
}

.grid {
    $gap: 8px;
    width: calc(100% + #{$gap});

    @for $i from 1 through 12 {
        &.columns#{$i} {
            @include gridElement($i,$gap)
        }
    }

    & > * {
        margin-right: $gap;
        margin-bottom: $gap;
    }
}


.card {

    $height: 320px;
    $imageHeight: 65%;
    $fadeHeight: 32px;


    position: relative;
    width: 100%;
    //padding-top: 100%;


    display: block;
    float: left;
    height: $height;
    border-radius: 2px;
    overflow: hidden;
    padding-bottom: 8px;
    text-decoration: none;

    @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
    transition: box-shadow 0.15s ease-in-out;


    &:hover {
        @include box-shadow( 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
    }

    * {
        //position: absolute;
    }

    .title, .text {
        text-align: left;
        margin-left: 16px;
        margin-right: 8px;
    }

    .title {
        top: $imageHeight;
        //left: 0;
        margin-top: 8px;
        font-size: 1.5rem;
        font-weight: 300;
        color: #777;
    }

    .image {
        //top: 0;
        width: 100%;
        height: $imageHeight;
    }

    .text {
        top: calc(#{$imageHeight} + 1.5rem + 8px);
        //bottom: 0;
        margin-top: 8px;
        line-height: 1.1;
        font-size: 0.8rem;
    }
    //@include transition(all 0.15s ease-in-out);
    &:before {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 0px;
        left: 0px;
        //margin-top: 20px;
        z-index: 2;
        //width: auto;
        height: $fadeHeight;
        content: "";
        background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(255,255,255,0) 100%);
    }



    &:active > * {
        opacity: 0.8;
    }
}
