.code > pre{
	padding: 8px;
	overflow: auto;
	font-size: 1rem;

	background-color: #faf6fa;
	border-radius: 8px;
	font-weight: 200;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}