$max-width: 800px;
$min-width: 320px;


@mixin screen-smaller-then($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin small-screen {
    @media only screen and (max-width: $max-width) {
        @content;
    }
}

