$max-width: 800px;
$min-width: 320px;

$antilatency-color: #acc435;
$vertical-space: 0.4rem;
@mixin screen-smaller-then($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin small-screen {
    @media only screen and (max-width: $max-width) {
        @content;
    }
}

@mixin box-shadow($shadow1, $shadow2: false, $shadow3: false, $shadow4: false, $shadow5: false) {
    $params: $shadow1;

    @if $shadow2 != false {
        $params: $shadow1, $shadow2;
    }

    @if $shadow3 != false {
        $params: $shadow1, $shadow2, $shadow3;
    }

    @if $shadow4 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }

    @if $shadow5 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }

    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}