

nav.language-menu {

    @extend .base-menu;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #8c96a0;
    opacity: 0.93;
    color: #081a20;
    border-radius: 8rem;
    margin: 1rem 1rem;
}

nav.language-menu > * {
    display: block;
    color: inherit;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    border-radius: 50%;
    font-size: 0.9rem;
}