@import "common.scss";
body{
    margin-top: 50px;
}
.material {
    margin: 0 auto 0 auto;
    padding: 0;
    //padding-right: calc(0.5 * (100% - #{$max-width});
    margin-bottom: 50px; //for footer
    
    ul, ol {
        margin-left: 20px;
        list-style-position: outside;
        ul, ol {
            margin-top: $verticalGap;
        }
    }

    
}




/*HEADER*/

/*@media only screen and (max-width: 800px) {
    .material .header .title {
        font-size: 6.4vmax;
    }
}*/




/*SECTION*/







.material .text b{
    font-weight: 500;
    color: rgb(121, 190, 30);
    text-align: left;
    white-space: nowrap				
}



