@import "common.scss";
$max-menu-width: 220px;

.base-menu {
    background-color: #eee;
    color: #222;

    > :not(a) {
        background-color: transparent;
    }

    > a:hover {
        background-color: #ccc;
    }

    > a:active {
        background-color: #aaa;
    }

    > a {
        text-decoration: none;
    }
}

.menu {
    @extend .base-menu;
    /*position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: $max-menu-width;
    z-index: 10;    
    opacity: 0.93;

    */

}

/*nav.menu > *{
    display: block;
    color: inherit;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;    
}*/





/*
@media only screen and (max-width: 1220px) {
    nav.menu .button{
        visibility: visible;
    }
    nav.menu:not(.checked) {
        visibility: hidden;
        width: 0;
    }
}*/