.panel{
    $radius: 8px;
    //background-color: greenyellow;
    border-radius: $radius;
    padding: $radius;
    padding-left: 42px;
    padding-bottom: 0;
    min-height: 32px;
}
.panel::before{
    position: absolute;
    display: inline;
    color: #ccc;
    //position: absolute;
    font-family: "Material Design Icons";
    font-size: 24px;
    content: "\F0339";
    margin-left: -32px;
}
.info{background-color: #deebff;}
.info::before{
    color: #5590e8;
    content: "\F02FC";
}
.warning{background-color: #fffae6;}
.warning::before{
    color: #ff991f;
    content: "\F0026";
}
.error{background-color: #ffebe6;}
.error::before{
    color: #e65835;
    content: "\F0159";
}
.note{background-color: #eae6ff;}
.note::before{
    color: #5243aa;
    content: "\F082E";
}
.success{background-color: #e3fce8;}
.success::before{
    color: #2db647;
    content: "\F05E0";
}
.bug{
    background-color: #f4dfd9;    
}

.bug::before{
    color: #de350b;
    content: "\F00E4";
}