@font-face {
  font-family: "Material Design Icons";
  src: url($current-directory+"/materialdesignicons-webfont.eot?v=5.0.45");
  src: url($current-directory+"/materialdesignicons-webfont.eot?#iefix&v=5.0.45") format("embedded-opentype");
  src: url($current-directory+"/materialdesignicons-webfont.woff2?v=5.0.45") format("woff2");
  src: url($current-directory+"/materialdesignicons-webfont.woff?v=5.0.45") format("woff");
  src: url($current-directory+"/materialdesignicons-webfont.ttf?v=5.0.45") format("truetype");
  font-weight: normal;
  font-style: normal;
}
