//group F0626 F0A3E

.PresetEditor {
    display: flex;

    .DragArea {
        cursor: move;
    }

    .Hide {
        display: none !important;
    }

    &.ItemInTheAir {

        .DropArea {
            //z-index: 10;
            position: absolute;
            display: inline-block;
            background-color: greenyellow;
            border-radius: 4px;
            border: 1px solid white;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.2;

            &:hover {
                opacity: 0.4;
            }
        }

        .Dragged .DropArea {
            display: none;
        }
    }

    item {
        position: relative;
        display: block;
        margin: 4px;
        float: left;

        &.Dragged {
            z-index: 10;
            position: fixed;
            margin-left: -1em;
            margin-top: -16px;
        }
    }

    .ItemPlaceholder {
        margin: 4px;
        float: left;
        background-color: #eee;
        border-radius: 2px;
    }

    .Group {
        $GroupSpacerWidth: 4px;

        margin-left: 6px;
        padding: 4px 4px 8px 4px;
        overflow: hidden;
        border-radius: 2px;

        @include Selectable(none);
        @include BoxShadow( 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
        @include Transition( box-shadow 0.15s ease-in-out);

        .GroupSpacer {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            bottom: 0;
            width: $GroupSpacerWidth;
            pointer-events: none;
            background-color: #b3e2fb;
        }

        .GroupHead {
            position: relative;
            display: block;
            margin-left: $GroupSpacerWidth;
            margin-right: $GroupSpacerWidth;
            margin-bottom: 0;
            height: 32px;


            .GroupTitle {
                position: relative;
                display: inline-block;
                z-index: 2;
                cursor: pointer;
                text-decoration: underline;
                max-width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .GroupTitleEditor {
                position: relative;
                display: inline;
                z-index: 2;
                max-width: 90%;
            }

            .GroupCounter {
                position: absolute;
                display: inline;
                right: 0;
                z-index: 2;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .GroupContainer {
            margin: 0;
            padding: 0;
        }
    }


    .PresetEditorTree {
        flex: 75%;

        .ProductBadge {
            display: none !important;
        }
    }

    .ProductsView {
        flex: 25%;
        margin: 0;
        padding: 0;

        .ProductCard {
            display: none !important;
        }

        .ProductCardPriceTotal {
            display: none !important;
        }

        .Spinbox {
            display: none !important;
        }

        .GroupCounter {
            display: none !important;
        }

        .DropArea {
            display: none !important;
        }
    }
}
